$left-header-width: 320px;
$left-header-color: #292230;
$left-header-font-color: #7a6964;

.left{
  width: $left-header-width;
  height: 100%;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: $left-header-color;
  color: $left-header-font-color;
  text-align: center;
}

.left-one{
  margin-top: 120px;
  margin-bottom: 60px;
}

.left-one img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  vertical-align: middle;
}

.left-two li{
  margin: 10px 0px;
  padding: 2px 20px;
}

.left-two li a{
  position: relative;
  color: $left-header-font-color;
}

.left-two li a:after{
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
}

.left-two li a.active,
.left-two li a:hover{
  color: #fff;
}

.left-two li a.active:after,
.left-two li a:hover:after{
  width: 100%;
  border-bottom: 1px solid #ffffff;
  transition: width .4s ease-in .05s;
}



.left-three{
  width: $left-header-width;
  position: fixed;
  bottom: 30px;
  color: #888888;
}