$right-bg-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3aa7f), color-stop(100%,#26001f));

.right-header{
  position: relative;
}

.right-header-bg:before{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: $right-bg-color;
  opacity: 0.8;
}

.right-header-bg{
  height: 450px;
  position: relative;
  background-image: url("../../images/index-header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.shape{
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.shape div{
  width: 50%;
  height: 60px;
  background-color: #ffffff;
}

.space-right{
  float: right;
  border-top-left-radius: 60px;
}

.space-left{
  border-top-right-radius: 60px;
  float: left;
}

.right-section{
  text-align: center;
}