@import "reset";

.autoCompleteQuery{
  position: relative;
  display: inline-block;
}

.autoCompleteQuery ul{
  position: absolute;
  width: 100%;
}

.autoCompleteQuery ul li{
  width: 100%;
}

.autoCompleteQuery ul li:hover{
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}